.comic-container
{
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.panelOne
{
  height: 200px;
  width: 200px;
  border-style: groove;
  border-color:black;
  background: whitesmoke;
}
.panelTwo
{
  height: 200px;
  width: 200px;
  background: whitesmoke;  
}
.panelThree
{
  height: 200px;
  width: 200px;
  border-style: groove;
  border-color:black;
  background:whitesmoke;  
}
.panelFour
{
  height: 200px;
  width: 200px;
  justify-content: center;
  border-style: groove;
  border-color:black;
  background: whitesmoke;  
}

.img
{
  height:150px;
  width: 200px;
  margin: 5px;
}


.container
{
  justify-content: center;
  padding: 50px 100px;
  margin: 0;
}
